:root {
  --c-black: #241b0b;
  --c-white: #ffffff;
  --c-yellow: #fbdd56;
  /* --c-yellow: #fbdd56; */
  --c-yellow-light: #fef1b5;

  --c-dark-brown: #1f1e1d;
  --c-medium-brown: #392E28;
  --c-orange: #DD7C44;
  --c-yellow-gold: #F0C976;

  --a-surface-1: var(--c-yellow);
  --a-surface-2: var(--c-white);
  --a-text-1: var(--c-black);
  --a-text-2: var(--c-yellow-gold);

  --b-surface-1: var(--c-white);
  --b-surface-2: var(--c-yellow-gold);
  --b-text-1: var(--c-black);
  --b-text-2: var(--c-yellow);

  --c-surface-1: var(--c-black);
  --c-surface-2: var(--c-yellow);
  --c-text-1: var(--c-white);
  --c-text-2: var(--c-yellow-light);

  --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 25px rgba(0, 0, 0, 0.15);

  --border-radius: 8px;
  --border-radius-lg: 12px;

  --font-family-display: "BBH Sans Hegarty", sans-serif;
  --font-family-sans: "Open Sans", sans-serif;

  --rotate: -4.76deg;
}

.theme--a {
  --surface-1: var(--a-surface-1);
  --surface-2: var(--a-surface-2);
  --text-1: var(--a-text-1);
  --text-2: var(--a-text-2);
  --button-bg: var(--a-surface-2);
  --button-text: var(--a-text-1);
  /* brackground gradient from dark brown to medium brown */
  /* background: linear-gradient(to top, var(--c-dark-brown), var(--c-medium-brown)); */
}
.theme--b {
  --surface-1: var(--b-surface-1);
  --surface-2: var(--b-surface-2);
  --text-1: var(--b-text-1);
  --text-2: var(--b-text-2);
  --button-bg: var(--b-text-1);
  --button-text: var(--b-surface-1);
}
.theme--c {
  --surface-1: var(--c-surface-1);
  --surface-2: var(--c-surface-2);
  --text-1: var(--c-text-1);
  --text-2: var(--c-text-2);
  --button-bg: var(--c-text-1);
  --button-text: var(--c-surface-1);
}
[class*="theme--"] {
  background-color: var(--surface-1);
  color: var(--text-1);
}

.decorative--inset-border {
  position: relative;
}

.decorative--inset-border::before {
  content: "";
  position: absolute;
  inset: 0.5rem;
  border: 1px solid var(--c-yellow-light);
  pointer-events: none;
}

.decorative--bottom-angled {
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"><polygon points="0,0 100,0 100,82 0,100" fill="white"/></svg>');
  mask-size: 100% 100%;
  padding-bottom: 10% !important;
}

.decorative--top-angled {
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"><polygon points="0,0 100,0 100,82 0,100" fill="white"/></svg>');
  mask-size: 100% 100%;
  padding-top: 10% !important;
}

*:has(.text--highlighted) {
  line-height: 1.25;
}
p:has(.text--highlighted) {
  line-height: 1.55;
}

.text--highlighted {
  font: inherit;
  color: var(--text-1);
  background-color: var(--surface-2);
  padding: 0.25em 0.5em;
  line-height: 0.2;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  display: inline;
  border-bottom: 3px solid var(--c-yellow-gold);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: antialiased;
  font-family: var(--font-family-sans);
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: var(--text-dark);
  background-color: var(--surface-1);
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-display);
  font-weight: normal;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  font-family: var(--font-family-display);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: var(--button-bg);
  color: var(--button-text);
}

input {
  font-family: var(--font-family-sans);
  outline: none;
}

.map-link {
  color: inherit;
  font-weight: bold;
  text-decoration: underline; 
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 7.5%;
}

@media (min-width: 46em) {
  .container {
    padding: 0 3rem;
  }
}

@media (min-width: 64em) {
  .container {
    padding: 0 4rem;
  }
}
